.avatar{
    margin: 0;
    padding: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.selfie{
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    transition: transform .3s ease-in-out;
}

.selfie:hover{
    transform: scale(1.05);
}

.textContainer{
    margin: auto;
    width: 40%;
    text-align: center;
    text-justify: inter-character;
    font-size: 1.4rem;
}

.paragraph{
    font-size: 1.4rem;
}

.githubCont{
    margin-top: 2rem;
}

#github{
    width: 5rem;
    height: 5rem;
    transition: transform .7s ease-in-out;
}

#github:active{
    border-radius: 50%;
    color: black;
}

#github:hover{
    transform: rotate3d(0, 1, 0, 360deg) scale(1.1);
}

.card{
    margin: 2rem;
    display: flex;
    flex-wrap: wrap;
    width: 15rem;
    height: 15rem;
    background-color: #ffffff;
    overflow: hidden;
    border-radius: 2rem;
    position: relative;

    transition: transform .7s ease-in-out;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.cardColumn{
    display:flex;
    align-items: center;
    justify-content: center;
}

.cardColumn2{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 7rem;
    width: 7rem;
}

.projectDesc{
    visibility: hidden;
    position: absolute;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 1rem;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.card:hover .projectDesc{
    visibility: visible;
}

.card:hover .projectTitle{
    visibility: hidden;
}

.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.projectTitle{
    position: absolute;
    text-align: center;
    background-color: rgba(0, 0, 0, 1);
    color: white;
    box-sizing: border-box;
    width: 100%;
}

.homeContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.projectsPageContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.projectsContainer {
    padding: 1rem;
    justify-content: center;
    display: flex;
    flex-wrap: wrap; 
    width: 100%; /* Use 100% width relative to its parent container */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    margin: 0 auto; /* Center the container itself horizontally */
}

/* Center the items within .projectsContainer */
.projectsContainer > * {
    flex: 1 1 auto; /* Allow items to grow and shrink as needed */
    margin: 1rem; /* Add margin around items for spacing */
}

.skillsContainer {
    padding: 2%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center; /* Centers vertically */
    flex-wrap: wrap;
  }

.card2{
    display: flex;
    flex-wrap: wrap;
    width: 5rem;
    height: 5rem;
    background-color: #ffffff;
    overflow: hidden;
    border-radius: 1rem;
    position: relative;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);

}

.card2:hover{
    transform: scale(1.15);
    visibility: hidden;
}

.card2:hover .skillTitle{
    visibility: visible;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skillTitle{
    visibility: hidden;
    position: absolute;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 1rem;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.card2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contactsContainer{
    margin: auto;
    padding: 1rem;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.contactContainer{
    margin: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: relative;

    transition: transform .7s ease-in-out;
}

.contactContainer:hover{
    transform: scale(1.15) rotate3d(0, 1, 0, 360deg);
}

.contactImg{
    width: 100px;
    height: 100px;
}

@media screen and (max-width: 768px) {
    .skillsContainer {
        width: 90%;
    }

    .homeContainer{
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .skillsContainer {
        width: 100%;
        padding: 0.5rem;
    }

    .card2 {
        width: 100%; 
    }

    .homeContainer{
        width: 100%;
    }
}