.avatar {
    margin: 0;
    padding: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.selfie {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    transition: transform .3s ease-in-out;
}

.selfie:hover {
    transform: scale(1.05);
}

.textContainer {
    margin: auto;
    width: 40%;
    text-align: center;
    text-justify: inter-character;
    font-size: 1.4rem;
}

.paragraph {
    font-size: 1.4rem;
}

.githubCont {
    margin-top: 0.5rem;
}

#projectGithub {
    width: 5rem;
    height: 5rem;
    transition: transform .4s ease-in-out;
}

#projectGithub:hover {
    transform: scale(1.25);
}

#github {
    width: 5rem;
    height: 5rem;
    transition: transform .7s ease-in-out;
}

#github:active {
    border-radius: 50%;
    color: black;
}

#github:hover {
    transform: rotate3d(0, 1, 0, 360deg) scale(1.1);
}

.card {
    margin: 2rem;
    display: flex;
    flex-wrap: wrap;
    width: 15rem;
    height: 15rem;
    background-color: #ffffff;
    overflow: hidden;
    border-radius: 2rem;
    position: relative;

    transition: transform .7s ease-in-out;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.cardColumn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardColumn2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7rem;
    width: 7rem;
}

.projectShow {
    visibility: hidden;
    position: absolute;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 1rem;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.projectModalContents {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 100%;
    height: 100%;
}

.card:hover .projectShow {
    visibility: visible;
}

.card:hover .projectTitle {
    visibility: hidden;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.projectTitle {
    position: absolute;
    text-align: center;
    background-color: rgba(0, 0, 0, 1);
    color: white;
    box-sizing: border-box;
    width: 100%;
}

.modalImage {
    margin: 2rem;
    display: flex;
    width: 25rem;
    height: 25rem;
    background-color: #ffffff;
    overflow: hidden;
    border-radius: 2rem;
    position: relative;

    transition: transform .7s ease-in-out;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.modalImage::before {
    content: "";
    display: block;
    padding-top: 100%; /* 1:1 aspect ratio (100% height of the width) */
}

.homeContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.projectsPageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.projectsContainer {
    padding: 1rem;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%; /* Use 100% width relative to its parent container */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    margin: 0 auto; /* Center the container itself horizontally */
}

/* Center the items within .projectsContainer */
.projectsContainer > * {
    flex: 1 1 auto; /* Allow items to grow and shrink as needed */
    margin: 1rem; /* Add margin around items for spacing */
}

.projectModal {
    position: fixed;
    inset: 0px;
    width: 80%; /* Adjusted for smaller screens */
    max-width: 50rem; /* Limit the max width */
    height: 60%; /* Allow height to adjust */
    margin: auto;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 1rem;
    box-sizing: border-box; /* Ensure padding is included in total width and height */
    overflow: auto; /* Allow scrolling if content overflows */
    border-radius: 1rem; /* Rounded corners */
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.projectModal:focus {outline:0;}

.modalImage .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.projectTextContainer {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 100%;
    text-align: center;
    text-justify: inter-character;
    font-size: 1.4rem;
    word-wrap: break-word; /* Ensure long words break and wrap */
}

.skillsContainer {
    padding: 2%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center; /* Centers vertically */
    flex-wrap: wrap;
}

.card2 {
    display: flex;
    flex-wrap: wrap;
    width: 5rem;
    height: 5rem;
    background-color: #ffffff;
    overflow: hidden;
    border-radius: 1rem;
    position: relative;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.card2:hover {
    transform: scale(1.15);
    visibility: hidden;
}

.card2:hover .skillTitle {
    visibility: visible;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skillTitle {
    visibility: hidden;
    position: absolute;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 1rem;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.card2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contactsContainer {
    margin: auto;
    padding: 1rem;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactContainer {
    margin: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: relative;
    transition: transform .7s ease-in-out;
}

.contactContainer:hover {
    transform: scale(1.15) rotate3d(0, 1, 0, 360deg);
}

.contactImg {
    width: 100px;
    height: 100px;
}

@media screen and (max-width: 768px) {
    .skillsContainer {
        width: 100%;
    }

    .homeContainer {
        width: 100%;
    }

    .projectModal {
        max-width: 40rem;
    }

    .projectTextContainer {
        width: 100%;
        padding: 0.5rem;
        font-size: 1rem;
    }

    .modalImage {
        width: 80vw; /* Use viewport width to keep it responsive */
        height: 80vw; /* Use the same value to maintain the square aspect ratio */
        max-width: 15rem; /* Maximum width to prevent it from being too large */
        max-height: 15rem; /* Maximum height to prevent it from being too large */
    }

    .modalImage img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media screen and (max-width: 480px) {
    .skillsContainer {
        width: 100%;
        padding: 0.5rem;
    }

    .card2 {
        width: 100%;
    }

    .homeContainer {
        width: 100%;
    }

    .projectModal {
        max-width: 30rem;
        max-height: 50%;
    }

    .projectTextContainer {
        width: 100%;
        padding: 0.5rem;
        font-size: 0.8rem;
    }

    .modalImage {
        width: 80vw; /* Use viewport width to keep it responsive */
        height: 80vw; /* Use the same value to maintain the square aspect ratio */
        max-width: 15rem; /* Maximum width to prevent it from being too large */
        max-height: 15rem; /* Maximum height to prevent it from being too large */
    }

    .modalImage img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

